<div class="marco">
    <div class="cabecera">
        <h2>Proyect:</h2>
             {{proyectos.name}}
             {{proyectos.icon}}
    </div>
    <div class="cuerpo">
        <div class="">
            <table>
                <th *ngFor="let row of data">
                    <div class="columna_central">{{row.description}}
                        <a class="btn btn-success" [routerLink]="['/tareas/', row.id, 'dashboard']">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <table>
                            <tr *ngFor="let t of task">
                                <div>{{t.title}}
                                </div>
                            </tr>
                        </table>
                    </div>
                </th>
            </table>
        </div>
    </div>
</div>