.marco {
   width:1000px;
   margin:10px auto 10px auto; /* Centrado horizontal */
}
    
.cabecera {
   border:solid orange 1px;
   padding:10px;
}
    
.cuerpo {
   padding:10px 0 10px 0;
   overflow-x:hidden;
   overflow-y:auto; /* Hace que se ajuste a la columna más alta en ff */
   height:100%; /* Hace que se ajuste a la columna más alta  en ie6 */
                }
    
                .columna_derecha {
                    float:right; /* Alineación a la derecha */
                    width:270px;
                    border:solid lightblue 1px;
                    padding:10px;
                }
    
                .columna_izquierda {
                    float:left; /* Alineación a la izquierda */
                    width:170px;
                    border:solid lightblue 1px;
                    padding:10px;
                }
    
                .columna_central {
                    margin-left:100px; /* Espacio para la columna izquierda */
                    margin-right:100px; /* Espacio para la columna derecha */
                    border:solid navy 1px;
                    padding:10px;
                }